{% if field == 'name' %}
<form hx-post="/edit/{{ sub.id }}/{{ field }}" hx-target="closest tr" class="inline-edit">
    <input type="text" name="{{ field }}" value="{{ sub.name }}" 
           class="inline-input"
           hx-trigger="blur, keyup[key=='Enter']"
           autofocus>
</form>
{% elif field == 'amount' %}
<form hx-post="/edit/{{ sub.id }}/{{ field }}" hx-target="closest tr" class="inline-edit">
    <input type="number" step="0.01" name="{{ field }}" value="{{ sub.amount }}" 
           class="inline-input"
           hx-trigger="blur, keyup[key=='Enter']"
           autofocus>
</form>
{% elif field == 'next_payment' %}
<form hx-post="/edit/{{ sub.id }}/{{ field }}" hx-target="closest tr" class="inline-edit">
    <input type="date" name="{{ field }}" value="{{ sub.next_payment }}" 
           class="inline-input"
           hx-trigger="blur, change"
           autofocus>
</form>
{% elif field == 'recurrence' %}
<form hx-post="/edit/{{ sub.id }}/{{ field }}" hx-target="closest tr" class="inline-edit">
    <select name="{{ field }}" class="inline-input" 
            hx-trigger="change"
            autofocus>
        <option value="mensal" {% if sub.recurrence == 'mensal' %}selected{% endif %}>Mensal</option>
        <option value="anual" {% if sub.recurrence == 'anual' %}selected{% endif %}>Anual</option>
        <option value="semanal" {% if sub.recurrence == 'semanal' %}selected{% endif %}>Semanal</option>
        <option value="semestral" {% if sub.recurrence == 'semestral' %}selected{% endif %}>Semestral</option>
    </select>
</form>
{% endif %} 